chariots>=0.1.2
click==7.0
# iris requirements
numpy==1.16.4
pandas==0.24.2
scikit-learn==0.21.2
{% if cookiecutter.use_cli == 'y' -%}

{% if cookiecutter.use_iris_example == 'y' -%}
{%- endif %}
{%- endif %}
